= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDqkn0crDk1IMbinDBTJwLILKANftyKxiU&sensor=true"

%h1 ダイビングスポット

%h3 スポットマップ
%div{id: "map_canvas", style: "width:500px; height:300px"}

%h3 スポット検索
スポット名、国名、県名、キーワードで検索
%br
= text_field_tag :spot_search, nil, size: 40
%select{id: 'abroad_select_box'}
  %option{value: 'NULL'}国内・海外
  %option{value: 'false'}国内のみ
  %option{value: 'true'}海外のみ
= button_tag '検索'

%h3 スポットリスト
- @spots.each do |spot|
  %div{id: "spot_id_#{spot.id}"}
    - spot_name = spot.name.nil? ? spot.tmp_name : spot.name
    %p= link_to "#{spot_name}", fishes_path(spot)
    = button_tag '地図に表示', class: 'indicating_on_map', spot_id: "#{spot.id}"
