= javascript_include_tag 'spot'

%h1 ダイビングスポット
%h3 スポット検索

= text_field_tag :spot_search

%p スポットリスト
- @spots.each do |spot|
  %div{id: "spot_id_#{spot.id}"}
    %p= link_to "#{spot.name}", fishes_path(spot)
