%h1= "#{@spot.name}で見られる魚"
- @fish.each_with_index do |fish, i|
  %p= "#{fish.name}"
  %img{src: "#{fish.url}", alt: "fish picture #{i}", height: '120'}
  %img{src: "#{fish.url2}", alt: "fish picture #{i}", height: '120'}
